/* Global Style */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&family=Manrope:wght@200;300;400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after{
    box-sizing: border-box;
}

body{
    background-color: #22242F;
    width: 100vw;
    height: 100vh;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.header{
    width: 100%;
    height: 4.5rem;
    border: 1px solid red;
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.main-content{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1.5rem;
}

.content-inner{
    width: 50%;
    height: 100%;
    border: 1px solid burlywood;
    padding: 1.5rem;
}

.services-section,
.form-section{
    width: 100%;
    height: 100%;
    border: 1px solid powderblue;
}


/* Media Queries */

@media (max-width: 768px){
    .main-content{
        flex-wrap: wrap;
    }

    .content-inner{
        width: 100%;
    }
}