/* Global Style */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Manrope:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after{
    box-sizing: border-box;
}

body{
    background-color: #1A1B22;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

h1, h2{
    font-family: 'Cormorant Garamond', serif;
    line-height: 125%;
}

p{
    font-family: 'Manrope', sans-serif;
    font-size: .875rem;
    line-height: 150%;
}

/* Layout Styling */
.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid blue; */
}

.content-container{
    /* border: 3px solid red; */
    width: 90%;
    height: 90%;
    display: flex;
    gap: 5rem;
}

.content-left,
.content-right{
    width: 50%;
    height: 100%;
    /* border: 3px dotted yellow; */
    /* padding: 25px; */
}

.content-inner{
    width: 100%;
    height: 100%;
}

.content-left .content-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.service-container{
    width: 100%;
    height: 80%;
    display: flex;
}

/* Social Proof Styling*/
.social-proof {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100px;
    overflow: hidden;
}

.logo-container{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    backdrop-filter: blur(20px);
    animation: slide 90s linear infinite;
    animation-delay: -2s;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}

/* Progress Bar Styling*/
.progress-container{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
}

.progress-bar{
    width: 100%;
    max-height: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.progress-bar::before{
    content: '';
    background-color: #f8f8f8;
    position: absolute;
    width: 1.5px;
    height: 425px;
    z-index: -1;
    transition: 0.4s ease-in-out forwards;
}

.progress{
    background-color: #f8f8f8;
    box-shadow: 0px 0px 5px 0px #f8f8f8 inset, 0px 0px 5px .3px #f8f8f8;
    max-height: 425px;
    height: 100%;
    position: absolute;
    width: 1.5px;
    z-index: -1;
    transition: 0.4s ease-in-out forwards;
}

.circle{
    width: 15px;
    height: 15px;
    background: #f8f8f8;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s ease-in-out forwards;
    z-index: 10;
}

.circle1.active{
    background-color: #0F52BA;
    transform: scale(1.5);
    box-shadow: 0px 0px 20px 0px #0F52B8 inset, 0px 0px 10px 5px #0F52B8;
}

.circle2.active{
    background-color: #05C878;
    transform: scale(1.5);
    box-shadow: 0px 0px 20px 0px #05C878 inset, 0px 0px 10px 5px #05C878;
}

.circle3.active{
    background-color: #9966CC;
    transform: scale(1.5);
    box-shadow: 0px 0px 20px 0px #9966CC inset, 0px 0px 10px 5px #9966CC;
}

/* Service Contents */
.service-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
  }
  
  .service-content {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
.service-content.active{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.branding-content,
.uiux-content,
.digmar-content{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.float-top{
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 30%;
    animation: floating 3s ease-in-out infinite
}

.icon-container{
    width: 450px;
    height: 450px;
    border: 0.5px solid rgba(248, 248, 248, 0.12);
    border-radius: 1.5625rem;
    background: linear-gradient(180deg, #1C1E28 0%, rgba(28, 30, 40, 0.00) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-text-container{
    width: 23.5rem;
    height: 8rem;
    flex-shrink: 0;
    padding: 1.63rem;
    border: 0.5px solid rgba(248, 248, 248, 0.12);
    border-radius: 1.5625rem;
    background: linear-gradient(180deg, #1C1E28 0%, rgba(28, 30, 40, 0.00) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    position: absolute;
    z-index: 3;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    color: #f8f8f8;
}

.icon-container:hover,
.service-text-container:hover{
    box-shadow: 1px 1px 80px -45px #f8f8f8;
    transition: box-shadow 0.3s ease-in-out;
}

.service-text-container .service-offer{
    display: flex;
    gap: .875rem;
    white-space: nowrap;
}

.digmar-content .service-text-container .service-offer{
    gap: .25rem 1.25rem;
    flex-wrap: wrap;
}

.float-bottom{
    position: absolute;
    z-index: -1;
    top: 60%;
    right: 30%;
    animation: floating 3s ease-in-out infinite
}

.top-img,
.bottom-img{
    width: 100%;
    height: 100%;
}

.branding-content .float-top .top-img{
    width: 300px;
    height: 300px;
}

.branding-content .float-bottom .bottom-img{
    width: 350px;
    height: 350px;
}

.uiux-content .float-top .top-img{
    width: 300px;
    height: 300px;
}

.uiux-content .float-top{
    top: 60%;
    left: 28%;
}

.uiux-content .float-bottom{
    top: 10%;
    right: 25%;
}

.uiux-content .float-bottom .bottom-img{
    width: 500px;
    height: 500px;
}

.digmar-content .float-top .top-img{
    width: 300px;
    height: 300px;
}

.digmar-content .float-bottom .bottom-img{
    width: 250px;
    height: 250px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

/* Media Queries */
@media (max-width: 750px){
    .content-container{
        flex-direction: column;
    }

    .content-left,
    .content-right{
        width: 100%;
    }

    .service-container{
        flex-direction: column;
        height: 60vh;
    }

    .service-contents{
        width: 100%;
    }

    .progress-container{
        width: 100%;
        height: 10%;
        /* padding: 50px 0; */
    }

    .progress-bar{
        max-height: 50px;
        flex-direction: row;
    }

    .progress-bar::before{
        width: 90%;
        height: 1.5px;
    }
}