/* Global Style */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&family=Manrope:wght@200;300;400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after{
    box-sizing: border-box;
}

body{
    background-color: #22242F;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

h1{
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    line-height: 97%;
    letter-spacing: -2.5%;
}

h2{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
    line-height: 97%;
    letter-spacing: -2.5%;
    color: #f8f8f8;
}

p{
    font-family: 'Manrope', sans-serif;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    letter-spacing: 0.5px;
    color: rgba(248, 248, 248, 0.7);
}

.content{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.main-content{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1.5rem;
}

.content-inner{
    height: 100%;
    /* padding: 1.5rem; */
}

.content-inner.content-left{
    width: 60%;
}

.content-inner.content-right{
    width: 40%;
    padding: 1.5rem;
}

/* Services Section */
.services-section{
    width: 100%;
    height: 80%;
}

.services-section{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.progress-bar{
    width: 10%;
    height: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.progress{
    width: 2px;
    height: 100%;
    background-color: rgba(248, 248, 248, 0.7);
    position: absolute;
}

/* .progress::before{
    content: '';
    width: 2px;
    height: 0;
    z-index: -1;
    transition: 0.4s ease-in-out forwards;
} */

.circle{
    width: 15px;
    height: 15px;
    background: #f8f8f8;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s ease-in-out forwards;
    z-index: 10;
}

.circle1.active{
    background-color: #0F52BA;
    transform: scale(1.5);
    box-shadow: 0px 0px 20px 0px #0F52B8 inset, 0px 0px 10px 5px #0F52B8;
}

.circle2.active{
    background-color: #05C878;
    transform: scale(1.5);
    box-shadow: 0px 0px 20px 0px #05C878 inset, 0px 0px 10px 5px #05C878;
}

.circle3.active{
    background-color: #9966CC;
    transform: scale(1.5);
    box-shadow: 0px 0px 20px 0px #9966CC inset, 0px 0px 10px 5px #9966CC;
}

.services{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.float{
    width: 35%;
    height: 35%;
}

.float-top{
    position: absolute;
    top: 0;
    left: 0;
    animation: floatTop 3s infinite ease-in-out;
}

.float-bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    animation: floatBottom 3s infinite ease-in-out;
}

@keyframes floatTop {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, -15px); }
    100%   { transform: translate(0, 0px); }   
}

@keyframes floatBottom {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.top-img,
.bottom-img{
    max-width: 350px;
    max-height: 350px;
}

.uiux-content .float-bottom{
    top: 0;
    right: 5%;
    z-index: -3;
    max-width: 500px;
    max-height: 500px;
}

.uiux-content .float-bottom .bottom-img{
    width: 500px;
    height: 500px;
}

.uiux-content .float-top{
    top: 55%;
    z-index: 3;
}

.uiux-content .float-top .top-img{
    width: 250px;
    height: 250px;
}

.digmar-content .float-top .top-img{
    width: 100%;
    height: 100%;
}

.digmar-content .float-bottom .bottom-img{
    width: 100%;
    height: 100%;
}

.service-content{
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 700px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.service-content.active{
    opacity: 1;
}

.icon-container{
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5625rem;
    border: 0.5px solid rgba(248, 248, 248, 0.12);
    background: linear-gradient(180deg, #1C1E28 0%, rgba(28, 30, 40, 0.00) 100%);
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    backdrop-filter: blur(20px);
}

.icon{
    width: 85%;
    height: 85%;
}

.service-text-container{
    width: 55%;
    height: 20%;
    position: absolute;
    top: 40%;
    left: 60%;
    padding: 25px;
    border-radius: 1.5625rem;
    border: 0.5px solid rgba(248, 248, 248, 0.12);
    background: linear-gradient(180deg, #1C1E28 0%, rgba(28, 30, 40, 0.00) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    z-index: 5;
}

.service-heading{
    margin-bottom: 1rem;
}

.service-offer{
    display: flex;
    flex-wrap: wrap;
    gap: 0 1.5rem;
}

.service-offer p{
    font-size: 1rem;
}

/* Logo Carousel */
.social-proof{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    border: 1px dotted peru;
}

.logo-wrapper{
    border:1px solid blue;
    height: 100%;
    width: 80%;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem;
}

.logo{
    opacity: .85;
}

/* Form Section */
.content-inner.content-right{
    display: flex;
}

.form-section{
    height: 100%;
    max-width: 45rem;
    padding-top: 3.5rem;
}

.form-section .form-text{
    width: 100%;
}

.form-text h1.form-heading{
    background: linear-gradient(45deg, #0F52BA, #9966CC);
    -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    margin: 1rem;
}

.form-text p.form-body{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3.5rem;
}

form{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

form .form-row{
    width: 100%;
    display: flex;
    gap: 1.5rem;
    margin: 0;
}

form .input-data{
    width: 100%;
    /* max-width: 14.6rem; */
    height: 2.5rem;
    position: relative;
}

label{
    font-family: 'Manrope', sans-serif;
    font-size: .875rem;
    font-weight: 200;
    color: rgba(248, 248, 248, 0.7);
    transition: all 0.3s ease;;
    position: absolute;
    top: 10px;
    left: 15px;
}

form input,
textarea{
    width: 100%;
    height: 100%;
    border: .5px solid rgba(248, 248, 248, .02);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: .1875rem;
    background-color: transparent;
}

textarea{
    height: 10rem;
}

.input-data .textarea{
    width: 100%;
    resize: none;
}

.submit{
    width: 150px;
    height: 2.5rem;
    margin-top: 7rem;
    font-family: 'Manrope', sans-serif;
    font-size: .875rem;
    font-weight: 200;
    color: rgba(248, 248, 248, 0.7);
    transition: all .75s ease;
    border: none;
    background: none;
    border: .5px solid rgba(248, 248, 248, .02);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: relative;
}

.submit:hover{
    font-weight: 400;
    background-color: #0F52BA;
    box-shadow: 0px 0px 20px 0px #0F52B8 inset, 0px 0px 20px 0px #0F52B8;
}  

.input-data input:focus ~ label,
.input-data input:valid ~ label,
.input-data textarea:focus ~ label,
.input-data textarea:valid ~ label{
    top: -25px;
    left: 0;
    font-family: 'Manrope', sans-serif;
}

.input-data input:focus,
.input-data input:valid,
.input-data textarea:focus,
.input-data textarea:valid{
    padding-left: 15px;
    color: rgba(248, 248, 248, 0.7);
    font-family: 'Manrope', sans-serif;
    border: 1px solid rgba(248, 248, 248, 0.7);
}

.input-data textarea:focus,
.input-data textarea:valid{
    padding-top: 15px;
    font-family: 'Manrope', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #22242F inset;
    box-shadow: 0 0 0 30px #22242F inset;
    font-family: 'Manrope', sans-serif;
}

input:-webkit-autofill{
    -webkit-text-fill-color: rgba(248, 248, 248, 0.7) !important;
    font-family: 'Manrope', sans-serif;
}

/* Media Queries */
@media(max-width:1440px){
    .content-inner.content-right{
        padding: 0;
    }

    .form-section{
        padding-top: 0rem;
    }

    .form-section .form-text{
        width: 100%;
    }

    .form-text h1.form-heading{
        font-size: 2.25rem;
    }

    .form-text p.form-body{
        font-size: .9rem;
        line-height: 1.25rem;
        margin-bottom: 2rem;
    }

    .icon-container{
        width: 350px;
        height: 350px;
    }

    .float{
        width: 35%;
        height: 35%;
    }

    .float-bottom{
        width: 25%;
        height: 25%;
    }

    .bottom-img{
        width: 150px;
        height: 150px;
    }

    .branding-content .float-bottom{
        right: 15%;
        bottom: 10%;
    }

    .branding-content .float-top .top-img{
        width: 200px;
        height: 200px;
    }

    .branding-content .float-bottom .bottom-img{
        width: 250px;
        height: 250px;
    }

    .uiux-content .float-bottom{
        top: 0;
        right: 35%;
        z-index: -3;
        max-width: 500px;
        max-height: 500px;
    }

    .service-text-container{
        width: 60%;
        left: 40%;
        top: 50%;
        padding-top: 15px;
    }

    .digmar-content .service-text-container{
        height: 25%;
    }

    textarea{
        height: 5rem;
    }

    .submit{
        margin-top: 1rem;
    }
}

@media (max-width: 1024px){
    .content{
        width: 100%;
    }

    .form-text h1.form-heading{
        font-size: 2.5rem;
    }

    .form-text p.form-body{
        font-size: 1rem;
        line-height: 1.25rem;
    }

    .icon-container{
        max-width: 350px;
        max-height: 350px;
    }

    .service-text-container{
        width: 60%;
        height: 20%;
        left: 40%;
        padding-top: 25px;
    }

    .digmar-content .service-text-container{
        padding-top: 15px;
        height: 20%;
    }
}

@media (max-width: 768px){
    body{
        overflow: auto;
    }

    .header{
        width: 80%;
        margin: auto;
    }

    .main-content{
        flex-wrap: wrap;
    }

    .content-inner.content-left,
    .content-inner.content-right{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .content-inner.content-left{
        flex-direction: column;
        justify-content: center;
    }

    .social-proof{
        justify-content: center;
    }

    .content-inner.content-right{
        height: 100%;
    }

    .services-section,
    .form-section{
        width: 80%;
    }

    .services-section{
        margin-left: 3%;
    }

    .form-section{
        padding-top: 3rem;
    }

    .icon-container{
        max-width: 500px;
        max-height: 500px;
    }

    .service-text-container{
        left: 52%;
    }

    .form-text h1.form-heading{
        font-size: 2.75rem;
        line-height: 3rem;
    }

    .form-text p.form-body{
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    textarea{
        height: 7rem;
    }

    .submit{
        margin-top: 3.5rem;
    }
}

@media (max-width: 500px){
    body{
        height: 100%;
    }

    .header{
        width: 90%;
        height: 100%;
        padding-left: 0;
    }

    .content-inner.content-left{
        height: 70vh;
    }

    .services-section{
        width: 95%;
        flex-direction: column;
    }

    .progress-bar{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 10%;
    }

    .progress{
        height: 2px;
        width: 100%;
    }

    .icon-container{
        max-width: 250px;
        max-height: 250px;
    }

    .service-text-container{
        left: 5%;
        top: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        height: 25%;
        padding: 1rem;
    }

    .digmar-content .service-text-container{
        padding: 3rem 1rem;
    }

    .social-proof,
    .logo-wrapper{
        width: 100%;
    }

    .logo{
        width: 80px;
    }

    .service-heading{
        font-size: 1.25rem;
        margin-bottom: .5rem;
    }

    .service-offer p{
        font-size: .875rem;
        line-height: 1.125rem;
    }

    .float{
        width: 200px;
        height: 200px;
    }

    .top-img,
    .bottom-img{
        width: 100%;
        height: 100%;
    }

    .branding-content .float-bottom{
        right: 3%;
        bottom: 10%;
    }

    .digmar-content .float-top .top-img{
        width: 250px;
        height: 250px;
    }

    .digmar-content .float-bottom .bottom-img{
        width: 200px;
        height: 200px;
    }

    .logo-wrapper{
        width: 100%;
    }

    form .form-row{
        flex-direction: column;
        gap: 2rem;
    }

    .submit{
        width: 100%;
    }
    
    .form-text h1.form-heading{
        font-size: 2.25rem;
        line-height: 2.75rem;
        text-align: center;
        margin: 0 0 1rem 0;
    }

    .form-text p.form-body{
        font-size: .875rem;
        line-height: 1.35rem;
        text-align: center;
        margin: 0 auto 1.5rem auto;
        width: 90%;
    }
}

@media (max-width: 425px){
    .service-heading{
        margin-bottom: .5rem;
    }

    .service-offer p{
        line-height: 1.25rem;
    }
}